.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
sounds/
input_files/
output_files/
logs/
dist/
build/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
*.zip
installer/

# Ghostscript & pngquant bundle folder
vendor/